.attribution { 
        font-size: 11px; text-align: center; 
        color: #fff ;    
        width: 50%;
        
          
    } 
    body{
        text-align: center;
        background-color: hsl(212, 45%, 89%);
    }
    img{
        width: 20rem;
        border-radius: 10%;
        
        margin: 10px auto 10px auto ;
    }
    h1{
        width: 80%;
        margin: 20px auto 20px auto;
        font-family: 'Outfit';
        font-size: 20px;
    }
    p{
        width: 70%;
        margin: auto;
        font-weight: 400;
        font-size: 13px;
        padding: 20px 0px 20px 0px;
        
    }
    .head{
        margin: auto;
        padding: auto;
        position: relative;
        top: 11rem;
        background-color: #fff;
        border-radius: 10%;
        
    }
